@page

<div class="text-center">
    <h1 class="display-4">About me</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">About me</a>.</p>
    <div><a href="/aboutyou">link to Demo</a></div>
</div>

